* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid red;
}

.container-boxs {
    /*FlexBox*/
    display: flex;
    justify-content: space-around;
}

.container-boxs article {
    border: 2px solid blue;
    width: 100%;
    max-width: 400px;
    height: 350px;
    background: rgb(51, 229, 11);
}

aside h1 {
    padding: 20px;
    font-size: 36px;
    color: blueviolet;
    text-align: center;
}

/*Mobile*/
@media screen and (max-width: 480px) {
  .container-boxs {
    flex-direction: column;
  }

  .container-boxs article {
    background: purple;
  }

  .container-boxs article h1,
  .container-boxs article p
  {
    color: #fff;
    padding: 5px;
  }

  aside {
    display: none;
  }
}

/* Small tablet */
@media (min-width: 768px) and (max-width: 991px) {
    .container-boxs article h1 {
        display: none;
    }
}